<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Description" content="AzureBlobExplorer">
    <title>Azure Blob Explorer @ViewData["Title"]</title>
    <environment names="Development">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/fontawesome/css/fontawesome.css" rel="stylesheet" />
        <link href="~/lib/fontawesome/css/solid.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/site.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div id="loaderMask"></div>
    <div id="loader" title="Loading..."></div>
    @RenderBody()

    <environment names="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/bootbox/bootbox.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>